body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.signup-box {
    width: 420px;
    margin: 50px auto;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header {
    background: #cfe6f5;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
}

.signup-body {
    padding: 20px;
}

.signup-body label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.signup-body
input [type="text"],

.signup-body
input [type="password"],

.signup-body
input [type="email"] {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.terms {
    margin-top: 15px;
    font-size: 13px;
}

.signup-footer {
    background: #cfe6f5;
    padding: 10px;
    text-align: center;
}

button {
    padding: 8px 25px;
    background: #5aa7d9;
    border: none;
    color: white;
    font-size: 16px;
    border: 4px;
    cursor: pointer;
}

button:hover {
    background: #3b8cc4;
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
}